@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Lexend+Deca:wght@300;400&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400&family=Sacramento&family=Yesteryear&display=swap');
.nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: rgb(191, 220, 243);
}

body{
  font-family: 'open-sans', sans-serif;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav h3{
  margin: 0;
}

.logo{
  font-size: 35px;
  font-family: 'Yesteryear', cursive;
}

.github{
  font-size: 22px;
  margin: auto 65px auto 0;
}

.home, .error{
  text-align: center;
  margin-top: 100px;
}

.home h2{
  font-size: 35px;
}

.home p{
  padding-bottom: 10px;
}

.view{
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  background-color: rgb(191, 220, 243);
}

.back{
  margin: 20px 0px;
  border: none;
  padding: 5px 20px;
  font-size: 15px;
  background-color: rgb(191, 220, 243);
}

.details-container{
  text-align: center;
  margin-top: 40px;
}

.details-container img{
  width: 150px;
  border-radius: 50%;
}

